{% extends "accounts/base.html" %}

{% block body_id %}password_change{% endblock %}

{% block title %}Password Change{% endblock %}

{% block body %}
  <div id="container">
    <h1>Change Password</h1>
    <div id="content">
      {% if form.errors.form_errors %}
        <p id="form-level-error">{{ form.errors.form_errors }}</p>
      {% endif %}
      {% from "_formhelpers.html" import render_field %}
      <form action="" method="POST" accept-charset="utf-8" id="registration-form" class="onelist-form" novalidate="novalidate">
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        <input type="submit" value="Change" id="submit" class="rounded-3">
      </form>
    </div>
  </div>
{% endblock %}