{% extends "accounts/base.html" %}

{% block body_id %}password_reset_request{% endblock %}

{% block title %}Password Reset Request{% endblock %}

{% block body %}
  <div id="container">
    <h1>Reset Password</h1>
    <div id="content" class="transparent rounded-6">
      <p class="no-margin">Please enter your email and we'll send you instructions
        on how to reset your password.</p>
    </div>
    <div id="content">
      {% if form.errors.form_errors %}
        <p id="form-level-error">{{ form.errors.form_errors }}</p>
      {% endif %}
      {% from "_formhelpers.html" import render_field %}
      <form action="" method="POST" accept-charset="utf-8" id="registration-form" class="clearfix onelist-form" novalidate="novalidate">
          {{ render_field(form.email, autocapitalize="off", autocorrect="off") }}
          <input type="submit" value="Send" id="submit" class="rounded-3">
      </form>
    </div>
  </div>
{% endblock %}
